dwains-theme/.vscode/*
custom_components/*/
!custom_components/dwains_theme
custom_components/dwains_theme/__pycache__/
www/*/
!www/dwains-theme
secrets.yaml
*.db
*.db-shm
*.db-wal
*.log
*.token
*.spotify-token-cache
.Trash*/**
.storage/**
.cloud/**
tts/**
*.pickle
theme/*/
!theme/dwains-theme*