.Trash-0/*
.cloud
.spotify-token-cache
.sonoff.json
.HA_VERSION
.storage/
home-assistant.log
home-assistant_v2.db
secrets.yaml
custom_components/
!custom_components/ezo
www/
!www/images/persons
google_calendars.yaml
zigbee.db
known_devices.yaml
*v2.db*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant_v2.db
.vscode/settings.json
neighbours/
tts/
.google.token
dwainconfig/
themes/
test/
image/
log.txt
*.log*
zigbee2mqtt
core
netdaemon4/
obj
bin
.vs